<a href="https://colab.research.google.com/github/IBRAHIM354313/pemograman-lanjut/blob/main/Latihan_Soal_Ibrahim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quiz Pemrograman lanjut#

NAMA : MUHAMMAD MUSA IBRAHIM / NRP: 2C2230002

**SOAL NOMOR 1**

In [ ]:
#Masukan kelas pertandingan seorang atlit
#Masukan kelas pertandingan seorang atlit

print("kelas pertandingan seorang atlit")
print("kelas A: 45 kg < berat badan < 50 kg")
print("kelas B: 50 kg < berat badan < 55 Kg")
print("kelas C: 55 kg < berat badan < 60 kg")
print("kelas D: 60 kg < berat badan < 65 kg")
print("kelas E: 70 kg < berat badan < 75 kg")
print("kelas F: berat badan > 70 kg")

#masukan berat badan atlit
print("masukan berat badan atlit")
berat = int(input())

if 45 < berat < 50:
    print("Kelas A")
elif 50 <= berat < 55:
    print("Kelas B")
elif 55 <= berat < 60:
    print("Kelas C")
elif 60 <= berat < 65:
    print("Kelas D")
elif 70 <= berat < 75:
    print("Kelas E")
elif berat >= 75:
    print("Kelas F")
else:
    print("Berat badan tidak masuk dalam kelas manapun")

kelas pertandingan seorang atlit
kelas A: 45 kg < berat badan < 50 kg
kelas B: 50 kg < berat badan < 55 Kg
kelas C: 55 kg < berat badan < 60 kg
kelas D: 60 kg < berat badan < 65 kg
kelas E: 70 kg < berat badan < 75 kg
kelas F: berat badan > 70 kg
masukan berat badan atlit
50
Kelas B

**SOAL NOMOR 2**

In [ ]:
angka = int(input("masukan bilangan bulat ratusan(3 digit):"))

ratusan = angka //100
puluhan = (angka % 100) // 10
satuan = angka % 10
jumlah = ratusan**3 + puluhan**3 + satuan**3
print(ratusan,"^3+",puluhan,"^3+",satuan,"^3+",jumlah)

if jumlah == angka:
  print("bilangan",angka,"adalah bilangan armstrong")
else:
  print("bilangan",angka,"bukan bilangan armstrong")

masukan bilangan bulat ratusan(3 digit):371
3 ^3+ 7 ^3+ 1 ^3+ 371
bilangan 371 adalah bilangan armstrong

**SOAL NOMOR 3**

In [ ]:
angka = int(input("masukan jari-jari bola"))
r=angka
print("jari-jari bola adalah")
print(r)

angka = int(input("masukan volume bola"))
volume = 4/3 * 3.1416 * r**3
print("volume bola adlah")
print(volume)

masukan jari-jari bola5
jari-jari bola adalah
5
masukan volume bola6
volume bola adlah
523.5999999999999

**SOAL NOMOR 4**

In [4]:
tot_tinggi = 0
jml_siswa_benar = 0
tinggi_benar = []

n = int(input("Masukkan jumlah siswa: "))

print("\nMasukkan tinggi setiap siswa (dalam cm):")
for i in range(n):
    tinggi = int(input(f"Tinggi siswa ke-{i+1}: "))

    if 100 <= tinggi <= 200:
        tot_tinggi += tinggi
        jml_siswa_benar += 1
        tinggi_benar.append(tinggi)

print("\nHasil Perhitungan:")
if jml_siswa_benar > 0:
    rata2 = tot_tinggi / jml_siswa_benar
    print(f"Jumlah siswa total: {n}")
    print(f"Jumlah siswa dengan tinggi valid: {jml_siswa_benar}")
    print(f"Data tinggi yang valid: {tinggi_benar}")
    print(f"Rata-rata tinggi: {rata2:.2f} cm")

    if jml_siswa_benar < n:
        print(f"\nCatatan: {n - jml_siswa_benar} data tinggi diabaikan karena di luar dari rentang 100-200 cm")
else:
    print("Tidak ada data tinggi yang valid untuk dihitung (semua di luar rentang 100-200 cm)")

Masukkan jumlah siswa: 4

Masukkan tinggi setiap siswa (dalam cm):
Tinggi siswa ke-1: 100
Tinggi siswa ke-2: 150
Tinggi siswa ke-3: 175
Tinggi siswa ke-4: 200

Hasil Perhitungan:
Jumlah siswa total: 4
Jumlah siswa dengan tinggi valid: 4
Data tinggi yang valid: [100, 150, 175, 200]
Rata-rata tinggi: 156.25 cm

**SOAL NOMOR 5**

In [1]:
jml_mhs = int(input("Masukkan jumlah mahasiswa: "))

for i in range(jml_mhs):
    nama = input("Masukkan nama mahasiswa: ")
    praktikum = float(input("Masukkan nilai praktikum: "))
    uts = float(input("Masukkan nilai UTS: "))
    uas = float(input("Masukkan nilai UAS: "))

    nilai_akhir = 0.2 * praktikum + 0.4 * uts + 0.4 * uas

    if nilai_akhir >= 85:
        indeks = "A"
    elif 85 > nilai_akhir >= 75:
        indeks = "AB"
    elif 75 > nilai_akhir >= 70 :
        indeks = "B"
    elif 70 > nilai_akhir >= 60:
        indeks = "BC"
    elif  60 > nilai_akhir >= 50:
        indeks = "C"
    elif 50 > nilai_akhir >= 40:
        indeks = "D"
    else:
      indeks = "E"


    print(f"Nama: {nama}")
    print(f"Nilai Akhir: {nilai_akhir:}")
    print(f"Indeks: {indeks}")

Masukkan jumlah mahasiswa: 2
Masukkan nama mahasiswa: MUSA
Masukkan nilai praktikum: 90
Masukkan nilai UTS: 94
Masukkan nilai UAS: 98
Nama: MUSA
Nilai Akhir: 94.80000000000001
Indeks: A
Masukkan nama mahasiswa: YAHYA
Masukkan nilai praktikum: 85
Masukkan nilai UTS: 87
Masukkan nilai UAS: 90
Nama: YAHYA
Nilai Akhir: 87.80000000000001
Indeks: A